.square {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: darkgray;
}

.relative-box {
  position: relative;
  background-color: navy;
  top: 10px;
  left: 10px;
}

.absolute-box {
  position: absolute;
  background-color: red;
  top: 30px;
  left: 30px;
}

.fixed {
  position: fixed;
  background-color: chocolate;
  bottom: 0px;
  left: 0px;
  height: 20px;
}

.z-index-1 {
  position: absolute;
  background-color: cornflowerblue;
  top: 300px;
  left: 300px;
  z-index: 1;
}

.z-index-3 {
  position: absolute;
  background-color: brown;
  top: 350px;
  left: 350px;
  z-index: 2;
}

.z-index-2 {
  position: absolute;
  background-color:darkgreen;
  top: 400px;
  left: 400px;
  z-index: 1.5;
}
